@font-face {
  font-family: 'TencentSansw3';
  src: url('../fonts/TencentSans-W3.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TencentSansw7';
  src: url('../fonts/TencentSans-W7.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body{
  font-size: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:1em;
	letter-spacing:0;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Raleway', sans-serif;
	font-weight: 700;
  margin-bottom:20px
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type="submit"],input[type="reset"],a,.w3ls_team_grid1_pos ul li{
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
}
button.submit{
  background-color: #f8b239;
  border: inherit;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 8px 12px;
  text-transform: capitalize; /*将首字母转化为大写*/
  transition: all 0.3s ease 0s;
  position: relative;
  outline:none !important;
}
button.submit::after{
  background: rgba(0, 0, 0, 0.09) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  z-index: 1;
  transition: all 0.3s ease-out 0s;
}
button.submit:hover::after {
  width: 100%;
}

/*element-ui*/
.el-button{
  padding:8px 16px;
}
/* 图片上传 */
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}

.el-dialog__wrapper{
  z-index:99999 !important;
}

/*   加载中   */
.loading{
  position:absolute;
  left:0;
  right :0;
  bottom: 0;
  top :0;
  margin :auto;
}

.tab-wrapper{
  padding:20px;
  background: white;
  min-height:600px
}


/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}
